*fls*
*.un*
*~*
*aux*
*log*
*tex.*
*.sln
notatki.pyproj
c/master.synctex.gz
c/master.log
.vs/notatki/v16/.suo
*.un~
*.aux
*.log
*.aux
*.aux
*.log
*.gz
*.aux
*.gz
*.gz
*.swp
*.un~
*.tex~
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.swp
*.pyc
*.aux
*.log
